@font-face {
    font-family: 'Overpass';
    src: url(../font/overpass-regular.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url(../font/NotoSansSymbols-Regular.ttf);
    font-style: normal;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #A9D400;
}

main {
    margin-top: 70px;
}

h2{
    margin:0;
}

p{
    margin:0;
}
/* --------header--------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #A9D400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    font-family: Overpass;
    font-size: 2em;
    z-index: 5;
    background-color: #23221d;
}



header img{
    padding: 5px;
}

header nav{
    margin:auto;
    margin-right:0;
    position: relative;
}
.animation-highlight::after {
    background-color:#A9D400;
    content: '';
    width: 1px;
    height: 86%;
    position:absolute;
    z-index: -1;
    left: 1px;
    bottom: -30%;
    transform: translateY(-50%);
    transition: all 350ms;
}
.animation-highlight:hover::after {
    height: 83%;
    width: 100%;
    border-radius: 2px;
}
header nav a{
    margin: 10 30;
    padding: 5 10;
    border-radius: 5px;
    position: relative;
}



header{
    border-bottom:solid 1px #A9D400;
}

a{
    text-decoration: none;
}


/* --------section et fond--------*/

.section{
    width: 100%;
    height: fit-content;
    padding:0;
    margin:0;
    position: relative;
}

.fond-gris{
    background-color: #23221D;
}

.fond-gris a:link,
.fond-gris a:visited{
    color:#A9D400;
    text-decoration: none;
}

header.fond-gris a:hover,
#Profil .right a:hover{
    color: #23221D;
}

.fond-vert{
    background-color: #A9D400;
}
.transition {
    position:relative;
}

.transition img.moi{
    position: absolute;
    right:150px;
    bottom:-100px;
    width:250px;
    z-index: 1;
}


#projet ~ .transition{
    transform: rotate(180deg)translateY(-5px);
}
.fond-vert a:link,
.fond-vert a:visited{
    color:#A9D400;
    text-decoration: none;
}
aside a {
    position: fixed;
    bottom:3%;
    right:3%;
}
aside a img {
    width:68px;
    height:68px;
}

/* --------Partie-Profil--------*/
#Profil{
    height:90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
}

#Profil section{
    padding-right: 10%;
    float: right;
    width:40%;
}
.right{
    float:right;
}

.left div{
    text-align: start;
    padding-left: 100px;
    font-family: Overpass;
    font-size: 1.5em;
    color: #A9D400;
    padding-top: 70px;
}


.left a{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-around;
    font-family: Overpass;
    font-size: 1.3em;
    width: fit-content;
    color:#A9D400
}
.left a:hover{
    text-decoration: underline;
}

#Profil h2 {
    font-family: Noto;
    font-size: 4.5em;
    color:#A9D400;
    margin-bottom: 0;
    text-align: end;
}
#Profil hr {
    border-color:#A9D400;
    border-width: 2;
    width: 100%;
}


.right a {
    text-align: end;
    font-family: Overpass;
    font-size: 1em;
    color:#A9D400;
    padding:5 5;
    position: relative;
    z-index: 2;
}
.right a:hover {
   color: #23221D;
}

#Profil .right p {
    text-align: end;
    font-family: Overpass;
    font-size: 2em;
    color:#A9D400;
    padding:0;
    position: relative;
}


/* --------Partie-Projet--------*/
#Projet{
    height:fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#Projet h2{
    width: 70%;
    margin:auto;
    font-family: Noto;
    color: #23221d;
    font-size: 2.5em;
}
main>h2{
    width: auto;
    margin:auto;
    font-family: Overpass;
    color:#A9D400;
    font-size: 2.5em;
    padding-left:10%;
    padding-top: 50px;
}

#Projet section{
    border-radius: 20px;
    background-color: #23221d;
    width:70%;
    height:auto;
    margin:auto;
    color:white;
    font-family: Overpass;
    font-size: 1.8em;

}

#Projet section h3{
    color:#A9D400;
    font-size: 2em;
    margin: auto 0;
}

#Projet section>div{
    position: relative;
}

#Projet section>div>article>a{
    position: relative;
    margin:auto 0;
    display:flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left:auto;
    

}
#Projet section>div>article>a>img{
    padding-right: 5px;
}

#Projet section>div>article {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

#Projet section>div{
    padding: 15px;
}

#Projet section>div>div{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    width:100%;
}
#Projet section>div>div p{
    width:min-content;
    min-width: 50%;
}

#Projet section>div>div>div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#Projet section>div>div>div p{
    width: max-content;
}




#Compétences {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#A9D400;
    font-family: Overpass;
    font-size: 1.5em;
  }
  
  .competence {
    margin-top: 1em 10% 0 10%;
    padding: 50px;
  }
  
  .competence img {
    height: 7em;
    padding-bottom: 20px;
  }

#liste {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color:#A9D400;
    font-family: Overpass;
    font-size: 1.5em;
  }
  
  .elm {
    margin-top: 1em 10% 0 10%;
    color:#A9D400;
    padding: 50px;
  }

  #liste a{
      color: #A9D400;
  }
  #liste a:hover{
    color:#A9D400;
    text-decoration: underline;
}
figure{
    margin:0;
}

.elm figcaption{
    display:block;
}
.elm img {
    height: 7em;
    margin-bottom: 20px;
    background-color: #A9D400;
    padding: 10px;
    border-radius: 20px;
}


footer{
    padding: 10px;
}

footer p{
    text-align: center;
    font-family: Overpass;
    font-size: 1.3em;
    color: #A9D400;
}

@media (max-width: 900px){
    header img{
        display: none;
    }
    header{
        font-size: 1.8em;
    }
    header nav a{
        margin: 5 ;
    }
    header nav {
        align-items: center;
    }

    #Profil section.left div {
        padding: 20px;
    }
}