@font-face {
    font-family: 'Quicksand';
    src: url(../font/Quicksand_Book.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Iconic';
    src: url(../font/Iconic\ Trial\ Regular\ 400.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

main {
    font-family: Quicksand;
}

.appear {
    opacity: 0;
}


/*----------------HEADER--------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    font-family: Iconic;
    align-items: center;
    z-index: 2;
}

header>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;;
}


header a h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    margin-left: 5px;
    height: 50px;
}

/* Les couleur pour le header */
.headerAccueil,
.headerAccueil .headerSmartphone nav {
    background-color: rgb(33, 93, 131,0.95);
}

header.neutre,
header.neutre .headerSmartphone nav {
    background-color: rgb(229, 223, 58,0.95);
}

.headerNefaste,
.headerNefaste .headerSmartphone nav {
    background-color: rgb(254, 66, 57,0.95);
}

.headerBenefique,
.headerBenefique .headerSmartphone nav {
    background-color: rgb(54, 167, 97,0.95);
}

/* Les couleur pour le header */
header.neutre a.neutre:link,
header.neutre a.neutre:visited {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    text-decoration: none;
}

header a:link,
header a:visited {
    color: #fff;
    text-decoration: none;
}

.headerDesktop {
    display: none;
}

header .logo {
    margin: 3px;
}
header>a {
    height: 50px;
}
/* Icon du menu burger */
.burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 10px;
}

.burger span {
    width: 42px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px 15px;
    float: right;
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px 15px;
}

.burger span::before {
    transform: translateY(-10px);
}

.burger span::after {
    transform: translateY(10px);
}

.burger.active span {
    transform: translateX(0px) rotate(-180deg);
    background-color: transparent;
    /*Le span du milieu disparait*/
    transition: .5s;
}

.burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
    /*45*/
}

.burger.active span::after {
    transform: translateZ(0px) rotate(-45deg);
}

.burger.active+nav {
    width: calc(60% - 70px);
}
.burger.active+nav li {
    list-style-image: url(../images/puce.png);
}
/* Icon du menu burger */

.headerSmartphone nav {
    position: absolute;
    right: 0px;
    height: 300px;
    top: 50px;
    width: 0px;
    transition: width .9s;
    border-radius: 0px 0px 0px 15px;
    opacity: .9;
}

.headerSmartphone li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.headerSmartphone li:nth-child(1) {
    margin-top: 37px;
}

.headerSmartphone li:nth-child(2),
.headerSmartphone li:nth-child(3) {
    margin-top: 75px;
}

/* ANIMATION NAV SELECTION */
.animation-highlight::after {
    background-color: #ffffff;
    content: '';
    width: 85%;
    height: 1px;
    position:absolute;
    z-index: -1;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 250ms;
}
.animation-highlight:hover::after {
    height: 83%;
    width: 105%;
    border-radius: 5px;
}

/* Couleur des polices intérieur */
.btn1:hover {
    color: #36A761;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.btn2:hover {
    color: #FE4239;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.btn3:hover {
    color: #E5DF3A;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}



/* ANIMATION NAV SELECTION */

/*----------------MAIN-Accueil---------------------*/

/* Animation terre */
.earth {
    background-image: url(../images/v2.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: -30px -20px 0 0 rgba(0, 0, 0, .15) inset, -70px -30px 0 0 rgba(0, 0, 0, .1) inset, 5px 5px 0 0 rgba(255, 255, 255, .2) inset;
    animation: rotationEarth 35s infinite linear;
    position: relative;
    left: 73vw;
    top:-90px;
    width: 15vw;
    height:15vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
}
@keyframes rotationEarth {
    from {
        background-position: left center;
    }

    to {
        background-position: -396px center;
    }
}
/* Animation terre */

div#main-planète-fond {
    width:100%;
    height: auto;
    transform: translateY(-1px);
}

.mainAcceuil h2 {
    color: #fff;
    z-index: 1;
    font-family: Quicksand;
    text-align: left;
    width: 100%;
    padding-top: 50px;
    font-size: 1.5em;
    animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    padding-left: 2%;
}


.mainAcceuil .intro {
    color: #ffffff;
    font-family: Quicksand;
    text-align: left;
    z-index: 1;
    padding-left: 2%;
    margin-bottom: 0%;
    padding-bottom: 50px;
    padding-top: 10px;
    /*animation: typing 1.5s steps(82, end),blink-caret 1s step-end;*/
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}
/*@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ffffff;
    }
}*/
.fondmainaccueil {
    width: 100%;
    margin-top: 0%;
    padding-top: 0%;
}

.hautAccueil {
    background-color: #215D83;
}

/* Partie carte du main */

.mainAcceuil .cartes { /*PLacement des cartes sur ordi*/
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainAcceuil .cartes article {
    text-align: center;
    padding: 7% 5%;
    width: 300px;
    font-family: Quicksand;
    height: 310px;
    /* Pour faire la forme de carte */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.397);
    color: #000000;
}
.cartes a article div img{ /*Cache l'image pour le tel*/
    display: none;
}

.mainAcceuil .cartes article p { /*Police du texte des cartes*/
    font-size: 17px;
}

.mainAcceuil a { /* Animation pour les cartes */
    text-decoration: none;
    transition: 0.2s cubic-bezier(0.82, 0, 0.16, 0.98);;
}
.mainAcceuil a:hover { /* Animation pour les cartes */
    transform: scale(1.1);
}
.cartes h3{
    margin-top: 7px;
}
.positif { /* Titre couleur nav */
    color: #36A761;
    text-transform: uppercase;
}

.negatif { /* Titre couleur nav */
    color: #FE4239;
    text-transform: uppercase;
}

.titre_neutre { /* Titre couleur nav */
    color: #E5DF3A;
    text-transform: uppercase;
}

/* Partie carte du main */


/*----------------FOOTER-------------------*/
footer {
    margin-top: 20%;
    position: relative;
    width: 100%;
}
.mainAcceuil + footer { /* Pour coller un peu plus les cartes vers le footer */
    margin-top: 20%;
}

footer a img {
    /*LOGO*/
    max-width: 50px;
    position: absolute;
    left: 3%;
    bottom: 0%;
    padding-bottom: 3%;
}

footer p {
    position: absolute;
    bottom: 0px;
    right: 3%;
    color: #ffffff;
    font-size: 0.5em;
}

.FondFooter {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}
/*------------------MAIN-BENEFIQUE------------------------*/

/* MAIN PARTIE BENEFIQUE */
.benefique-main {
    padding-top: 80px;
}

.benefique-main div section,
.benefique-main section,
.benefique-main p {
    /* Centrer le bloc et évité qu'il s'étire de trop */
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


.benefique-main div section h3 {
    /*Les titres*/
    text-transform: uppercase;
    padding-left: 25%;
    font-family: Iconic;
    font-size: 48px;
    padding-right: 2.5%;
    margin-top: 5%;
}

.benefique-main .image section h3 {
    /* Pour la police blanche sur le cadre vert */
    color: #fff;
}

.benefique-main .image section div p {
    /* Pour la police blanche sur le cadre vert */
    color: #fff;
}

.benefique-main div section div p {
    /*Les paragraphes*/
    text-align: justify;
    font-size: 36px;
    font-family: Quicksand;
    padding-right: 2.5%;
}

.benefique-main section img {
    /* premiere image */
    width: 25%;
    animation:  wizz 2s 1 ease-in-out;
    position: relative;
    z-index: -1;
}

@keyframes wizz{
    0%{
        transform: none;
    }
    20%{
        transform: scale(1.2);
    }
    30%{
        transform: rotate(-12deg) scale(1.2);
    }
    40%{
        transform: rotate(15deg) scale(1.2);
    }
    50%{
        transform: rotate(-10deg) scale(1.2);
    }
    60%{
        transform: rotate(0deg) scale(1.2);
    }
    80%{
        transform: scale(0.9);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes petit-mouv{
    0%{
        transform: none;
    }
    25%{
        transform: translateX(-20%) translateY(-20%) scale(0.8);
    }
    50%{
        transform: translateX(-20%) translateY(5%) scale(1.01);
    }
    75%{
        transform: translateX(5%) translateY(-10%) scale(0.9);
    }
    100%{
        transform: none;
    }
}

@keyframes coup-de-poing{
    0% {
        transform:translateX(-500%) scale(1.7, 0.2);
    }
    70%{
        transform: translateX(-30%) scale(1.7, 0.2);
    }
    90%{
        transform: translateX(0%) scale(0.7,1.5);
    }
    100% {
        transform: none;
    }
}

/*Animation sticker*/
.sticker {
    width: 30vmin; /*Taille de l'image, c'est responsive*/
    height: 30vmin;
    margin-left: auto; /*Pour la presentation*/
    margin-right: auto; /*Pour la presentation*/
    /*transform-style: preserve-3d; /*Pour coller par 'en-dessous', si on enleve, colle 'par-dessus'*/
    position: relative; /*On peut changer le positionnement*/ 
    /*animation: angle 1s both; /*Pour donner un angle à l'image*/

}

.sticker::before,
.sticker::after {
    content: ''; /*Pour afficher le bloc*/
    display: block;
    position: absolute; /*Obligé*/
    width: 100%; /*Pour que les deux blocs prennent entièrement la place du bloc parent*/
    height: 100%;
    background: center / cover url(../images/pouce-positif-benefique.svg);
}

div.sticker::before {
    animation: cote-positif 4s both;
}

@keyframes cote-positif {
    from {
        clip-path: inset(0 80% 0 0);
    }

    50%,
    to {
        clip-path: inset(0 0% 0 0);
    }
}

.sticker::after {
    filter: brightness(0.2); /*Assombit le mirroir*/
    transform: rotateY(-180deg); /*Pour avoir le mirroir*/
    animation:  cote-negatif 4s both;

}

@keyframes cote-negatif {
    from {
        clip-path: inset(0 0 0 20%); /*Permet de définir où commence l'animation, il faut que les deux positif+negatif=100%*/
        transform-origin: 20% 0;
    }

    50%,
    to {
        clip-path: inset(0 0 0 100%);
        transform-origin: 100% 0;
    }
}

@keyframes angle { /*On peut varier la taille de l'angle*/
    from {
        transform: rotate(-50deg);
    }

    to {
        transform: rotate(-50deg);
    }
}
/*Animation sticker*/ 
.benefique-main div section div img {
    /* Les autres images */
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.benefique-main div section div {
    /*pour la partie texte+image */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.benefique-main .change-cote section div {
    /* Change le cote de l'image */
    flex-direction: row-reverse;
}

.benefique-main .change-cote section h3 {
    /* Aligne le titre */
    padding-left: 2.5%;
}

.benefique-main .change-cote section div p {
    /* Aligne le paragraphe */
    padding-left: 2.5%;
    margin-left: 0%;
}

.benefique-main>img {
    /*La vague qui separe les parties*/
    width: 100%;
    margin: 0px;
    height: 100%;
    max-height: 350px;
    min-height: 100px;
    margin-top: 2.5%;
}

/* Pour la 1er partie */
.benefique-main section h2 {
    /* Titre */
    text-transform: uppercase;
    font-family: Iconic;
    font-size: 80px;
    color: #36A761;
    padding-left: 2.5%;
}

.benefique-main>p {
    /* Le texte */
    text-align: justify;
    font-size: 36px;
    font-family: Quicksand;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.benefique-main>section {
    /* Image + titre */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*La partie avec le bloc vert*/
.benefique-main .image>img {
    color: white;
    background-color: white;
    width: 100%;
    max-height: 100px;
}

.benefique-main .image>img {
    margin-bottom: -7px;
}

.benefique-main .image div {
    background-color: #36A761;
}

.benefique-main .image div section h3 {
    margin-top: 0px;
}

/*La partie avec le bloc vert*/

/* MAIN PARTIE BENEFIQUE */

/*------------------MAIN-NEFASTE------------------------*/
.mainNefaste {
    height: auto;
    margin-top: 100px;
    width: 100%;
}

.mainNefaste h2 {
    text-align: left;
    color: #FE4239;
    font-family: Quicksand;
    padding-top: 80px;
    font-size: 2.5em;
}

.hautpageNefaste {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.sectioncartesNefaste {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.carteNefaste {
    text-align: center;
    display: block;
    flex-direction: column;
    width: 170px;
}

.carteNefaste:nth-child(2) {
    margin-top: 150px;
}

.carteNefaste:nth-child(3) {
    margin-top: 300px;
}

.carteNefaste p {
    padding-top: 20px;
    color: #FE4239;
    font-family: Quicksand;
}

.corpNefaste {
    width: 100%;
}

.formeNefaste {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.corpNefaste .article1 {
    width: 100%;
    background-color: #FE4239;
    margin: 0px 0px;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    height: 411px;
}

.corpNefaste .article1 h3 {
    margin-top: 0px;
    text-align: left;
}

.corpNefaste .article1 img {
    float: right;
}

.corpNefaste .article2,
.corpNefaste .article3 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 60px;
    padding-left: 60px;
}

.corpNefaste .titre-art {
    padding-left: 60px;
    margin-top: 60px;
    padding-bottom: 10px;
    width: 100%;
}

.corpNefaste .article2 img {
    margin-right: 30px;
}

.corpNefaste .article3 img {
    margin-left: 30px;
    margin-bottom: 100px;
}

/* -----------PARTIE NEUTRE---------------*/

/* ------Main neutre--------*/

h2.neutre {
    /* titre neutre*/
    text-align: center;
    color: #E5DF3A;
    font-weight: bold;

    position: relative;
    top: 20px;
    margin: 80px 30px;
}

p.neutre {
    color: black;
    position: relative;
    padding: 2% 2%;

}

h2+p.neutre {
    font-size: 1.5em;
    width: 80%;
    left: 10%;
}

section+p.neutre {
    position: relative;
    font-size: 1.5em;
    width: 80%;
    left: 10%;
    bottom: 100px;
}

h3.neutre {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


.div-img {
    width: auto;
    padding: 0%;
}

.div-neutre {
    width: 100%;
    height: auto;
    background-color: #E5DF3A;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}

#Fond-neutre-top {
    transform: rotate(180deg)translateY(-2px);
    width: 100%;
    margin-top: 50px;
}

#Fond-neutre-bottom {
    width: 100%;
    margin-bottom: 50px;
}


#div2-neutre {
    background-color: #fff;
}

/* footer neutre */
#Fond-neutre-footer {
    transform: rotate(180deg)translateY(-2px);
    width: 100%;
}

footer.neutre {
    background-color: #E5DF3A;

    height: 10%;
    min-height: 90px;
    margin-top: 0;
}

footer.neutre p {
    color: black;
}


/*--------------------------------------Media query NEUTRE---------------------------*/

/* MEDIA QUERY PARTIE BENEFIQUE */

@media (max-width: 900px) {

    /* Media query pour le milieu format */
    .benefique-main section h2 {
        font-size: 60px;
    }

    .benefique-main div section h3 {
        font-size: 35px;
    }

    .benefique-main div section div p,
    .benefique-main p {
        font-size: 21px;
    }
}

@media (max-width: 600px) {

    /* Media query pour le petit format */
    .benefique-main section h2 {
        font-size: 31px;
    }

    .benefique-main div section h3 {
        font-size: 27px;
    }

    .benefique-main div section div p,
    .benefique-main p {
        font-size: 12px;
    }
}

/* MEDIA QUERY PARTIE BENEFIQUE */

/* MEDIA QUERY ACCUEIL */
@media (min-width: 800px) { /* Media query header du passage de pc a tel  */
    .headerDesktop {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding-left: 40px;
        align-items: center;
    }

    .headerDesktop>a {
        display: block;
    }

    .headerSmartphone {
        display: none;
    }



    .headerDesktop nav {
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        text-transform: uppercase;

    }

    .buttonheaderDesktop { /* Bouton nav header ordi */
        display: inline-block;
        color: #ffffff;
        transition: color 250ms;
        text-decoration: none;
        text-shadow: 1px 1px 0px rgb(0, 0, 0);
        position: relative;
        z-index: 0;
    }
}
@media (min-width: 597px) {
    .intro { /* Page Texte début Accueil */
        padding-right: 32%;
    }
}
@media (min-width: 400px) {
    footer p {
        font-size: 0.7em;
    }
}
@media (min-width: 700px) {
    footer p {
        font-size: 1em;
    }
}
@media (max-width: 1000px) {
    .mainAcceuil .cartes { /* position des cartes en colonnes*/
        flex-direction: column;
    }
    .cartes a article>img{ /*Cache image version ordi*/
        display: none;
    }
    .cartes a article div img{ /*Image version tel*/
        display: flex;
    }
    .mainAcceuil .cartes article{ /*Adapter les cartes*/
        text-align: left;
        width: 60%;
        margin-bottom: 5%;
        padding: 15px 15px;
        margin-left: auto;
        margin-right: auto;
        justify-items: center;
        height: auto;
    }
    .cartes a article div img{ /*Position de l'image dans les cartes*/ 
        position: relative;
        float: right;

    }
    .mainAcceuil .cartes img { /*Taille de l'image version tel */ 
        width: 60px;
        height: 60px;
    }
    }
@media (max-width: 1000px) { /* Cartes + grandes en petit format*/
    .mainAcceuil .cartes article{
        width: 80%;
    }
}
@media (max-width: 1013px){
    .mainAcceuil h2{
        animation: none;
        text-align: center;
        white-space: normal;
    }
}

/* -------Media query du Main neutre------- */

@media (min-width: 800px) {
    .img-neutre {
        height:200px;
        width:200px;
    }


    article.neutre {
        width: 65%;
    }

    .div-neutre {
        flex-direction: row;

        height: auto;

    }
}

@media (max-width: 800px) and (min-width: 585px) {
    .img-neutre {
        height:150px;
        width:150px;
    }

    article.neutre {
        width: 95%;
    }

    h2.neutre {
        font-size: 2.8em;
    }

    .div-neutre {
        flex-direction: column;
    }
}

@media (max-width: 585px) {
    .img-neutre {
        height:100px;
        width:100px;
    }

    article.neutre {
        width: 95%;
    }

    h2.neutre {
        font-size: 2.4em;
    }

    .div-neutre {
        flex-direction: column;
    }
}

/*---- Media query police----*/
@media (min-width: 1000px) {
    p.neutre {
        font-size: 1.6em;
    }

    h3.neutre {
        font-size: 2.8em;

    }

    h2.neutre {
        font-size: 4em;
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    p.neutre {
        font-size: 1.2em;
        padding:2% 2%;
    }

    h2.neutre {
        font-size: 3em;
    }
    .div-neutre{
        padding:0;
    }
}

@media (max-width: 600px) {
    p.neutre {
        font-size: 1.2em;
        padding:2% 2%;
    }

    h2.neutre {
        font-size: 2.5em;
    }
    .div-neutre{
        padding:0;
    }
}

/*---------------Nefaste----------------*/
@media (max-width: 1333px) {
    .mainNefaste .corpNefaste .article1 img {
        width: 70%;
        float: none;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 30px;
    }

    .mainNefaste h3 {
        text-align: center;
        width: 100%;
    }

    .mainNefaste .article1 h3 {
        text-align: center;
    }

    .mainNefaste .corpNefaste .article1 {
        height: 800px;
        width: 100%;
    }

    .mainNefaste .corpNefaste .article1 {
        height: 730px;
    }
}

@media (max-width: 890px) {
    .mainNefaste .corpNefaste .article1 {
        height: 700px;
    }
}

@media (max-width: 585px) {
    .mainNefaste .corpNefaste .article1 {
        height: 730px;
    }
}

@media (max-width: 537px) {
    .mainNefaste .corpNefaste .article1 {
        height: 760px;
    }
}

@media (max-width: 510px) {
    .mainNefaste .corpNefaste .article1 {
        height: 810px;
    }
}

@media (max-width: 500px) {

    .mainNefaste .corpNefaste .article2 img,
    .mainNefaste .corpNefaste .article3 img {
        width: 25%;
    }
}

@media (max-width: 470px) {
    .mainNefaste .corpNefaste .article1 {
        height: 850px;
    }
}

@media (max-width: 445px) {
    .mainNefaste .corpNefaste .article1 {
        height: 880px;
    }
}

@media (max-width: 425px) {
    .mainNefaste .corpNefaste .article1 {
        height: 910px;
    }
}

@media (max-width: 420px) {

    .mainNefaste .corpNefaste .article2,
    .mainNefaste .corpNefaste .article3 {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
    }

    .corpNefaste .article2 img,
    .corpNefaste .article3 img {
        margin-right: 30%;
        margin-left: 30%;
    }

    .titre-art {
        text-align: left;
        padding: 0px 0px;
        margin-left: 0px;
    }
}

@media (max-width: 410px) {
    .mainNefaste .corpNefaste .article1 {
        height: 950px;
    }

    .mainNefaste h2 {
        font-size: 1.7em;
    }
}

@media (max-width: 390px) {
    .mainNefaste .corpNefaste .article1 {
        height: 800px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 381px) {
    .mainNefaste .hautpageNefaste img {
        width: 100px;
    }
}

@media (max-width: 370px) {
    .mainNefaste .corpNefaste .article1 {
        height: 850px;
    }

    .corpNefaste h3 {
        font-size: 1em;
        text-align: center;
    }
}
@media (max-width: 330px) {
    .mainNefaste .corpNefaste .article1 {
        height: 890px;
        width: 100%;
    }
}
@media (max-width: 310px) {
    .mainNefaste .corpNefaste .article1 {
        height: 960px;
        width: 100%;
    }
}
@media (max-width: 280px) {
    .carteNefaste p {
        font-size: 0.8em;
    }
}
@media (max-width: 280px) {
    .carteNefaste p {
        font-size: 0.8em;
    }
}
