@font-face {
    font-family: 'Overpass';
    src: url(../font/overpass-regular.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url(../font/NotoSansSymbols-Regular.ttf);
    font-style: normal;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #A9D400;
}

main {
    margin-top: 70px;
}


/* --------header--------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #A9D400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    font-family: Overpass;
    font-size: 2em;
    z-index: 5;
    background-color: #23221d;
}



header img{
    padding: 5px;
}

header nav{
    margin:auto;
    margin-right:0;
    position: relative;
}
.animation-highlight::after {
    background-color:#A9D400;
    content: '';
    width: 1px;
    height: 86%;
    position:absolute;
    z-index: -1;
    left: 1px;
    bottom: -30%;
    transform: translateY(-50%);
    transition: all 350ms;
}
.animation-highlight:hover::after {
    height: 83%;
    width: 100%;
    border-radius: 2px;
}
header nav a{
    margin: 10 30;
    padding: 5 10;
    border-radius: 5px;
    position: relative;
}



header{
    border-bottom:solid 1px #A9D400;
}



/* --------section et fond--------*/

.section{
    width: 100%;
    height: 600px;
    padding:0;
    margin:0;
    position: relative;
}

.fond-gris{
    background-color: #23221D;
}

.fond-gris a:link,
.fond-gris a:visited{
    color:#A9D400;
    text-decoration: none;
}

header.fond-gris a:hover,
#Profil .right a:hover{
    color: #23221D;
}

.fond-vert{
    background-color: #A9D400;
}
.transition {
    position:relative;
}

.transition img.moi{
    position: absolute;
    right:150px;
    bottom:-100px;
    width:250px;
    z-index: 1;
}


#projet ~ .transition{
    transform: rotate(180deg)translateY(-5px);
}
.fond-vert a:visited,
.fond-vert a:visited{
    color:#A9D400;
    text-decoration: none;
}
aside a {
    position: fixed;
    bottom:3%;
    right:3%;
}
aside a img {
    width:68px;
    height:68px;
}

/* --------Partie-Profil--------*/
#Profil{
    height:80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-align: center;
}

#Profil section{
    padding-right: 10%;
    float: right;
    width:40%;
}
.right{
    float:right;
}

.left a{
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:space-around;
    font-family: Overpass;
    font-size: 1.5em;
}

#Profil h2 {
    font-family: Noto;
    font-size: 4.5em;
    color:#A9D400;
    margin-bottom: 0;
    text-align: end;
}
#Profil hr {
    border-color:#A9D400;
    border-width: 2;
    width: 100%;
}


.right a {
    text-align: end;
    font-family: Overpass;
    font-size: 1em;
    color:#A9D400;
    padding:5 5;
    position: relative;
    z-index: 2;
}
.right a:hover {
   color: #23221D;
}

#Profil .right p {
    text-align: end;
    font-family: Overpass;
    font-size: 2em;
    color:#A9D400;
    padding:0;
    position: relative;
}



#Projet{
    height:70vh;
}
